@charset "utf-8";
/* CSS Document */
body { font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; margin:0; padding:0; width:100%; height:100%;}

.ml-dialog {
	position:absolute;
	z-index:5;
	top:50%;
	left:50%;
	height:400px;
	margin-top:-220px;
	width:600px;
	margin-left:-300px;
	box-shadow:	0px 0px 25px rgba(0,0,0,.7),
	
				0px 0px 500px #fff,
				0px 0px 500px #fff, 
				0px 0px 500px #fff, 
				0px 0px 500px #fff, 
				0px 0px 500px #fff;
	padding:0px;
	background:rgba(255,255,255,1);
	padding-top:100px;
	/*outline: 1px solid #333;*/
	}

.ml-color-header {
	height:100px;
	background:#4CAF50;
	margin-top:-100px;
	padding-left:150px;
	position:relative;
	box-shadow:0px 2px 3px rgba(0,0,0,.2);
	}
#player_name, #dice_name {
	position:absolute;
	font-size:24px;
	margin:0; padding:0;
	left:176px;
	bottom:0;
	color:#fff;

	}
#player_position {
	position:absolute;
	font-size:22px;
	font-weight:bold;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0; padding:0;
	width:50px; height:50px;
	background:#E91E63;
	right:25px;
	bottom:-25px;
	color:#fff;
	border-radius:50px;
	line-height:50px; text-align:center;

}

#photo {
	width:125px;
	height:125px;
	position:absolute;
	left:32px;
	bottom:-62px;
	border:4px solid #fff;
	background:#fff;
	border-radius:130px;
	margin:0;
	padding:0;
	 box-shadow:1px 1px 8px rgba(0,0,0,.3)}




.ml-body {
	 padding:20px;
	 padding-top:60px;
	 background-color:rgba(255,255,255,0.8);
	 
	 }
	 /*
.ml-body:before {
	display:block;
	width:200px;
	height:50px;
	content:"gfghf";
	float:left;
	outline:1px solid red;}
*/

.big_btn {
	width:150px;
	height:150px;
	background-color:#F00;
	color:#fff;
	border:none;
	border-radius:150px;

	transition:all 0.4s ease;
	position:absolute; left:50%; margin-left:-75px;
	outline:none;
	}

.big_btn:hover {
	box-shadow:0px 5px 10px rgba(0,0,0,0.2);
	transform:rotate(360deg) scale(1.19);
	text-shadow:-1px -1px 1px #444;
	cursor:pointer;}

.btn_cont {
	text-align:center;}

#playfield {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #795548;
	margin: .09px
}

.game_cell {
	position: relative;
	display:block;
	width:7.7%;
	height:10.6%;
	font-size:11px;
	padding: 0.05% 0.25% ;
	margin: 0.05%;
	float:left;
	background: #fff;
	transition:0.2s transform linear;
}



.game_cell:hover { transform: scale(2,2); z-index:2; box-shadow: 0px 0px 30px #454545; outline:1px solid #000; }

.game_cell:nth-child(12n):hover  {  transform:scale(2,2) translateX(-25%);}
.game_cell:nth-child(-n+12):hover   {  transform:scale(2,2)  translate(0,25%)}
.game_cell:nth-child(12):hover   {  transform:scale(2,2)  translate(-25%,25%)}
.game_cell:nth-child(12n+1):hover, .game_cell:nth-child(1):hover { transform: scale(2,2)  translate(25%,25%);}
.game_cell:nth-child(96n):hover   {  transform:scale(2,2)  translate(0,25%)}
.text_cell { z-index: 1; position:absolute;
	text-shadow:1px 1px 0 #fff, -1px 1px 0 #fff, 0px 1px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, -1px -1px 0 #fff ; }

.img_cell {
	width: 100%;
	height: 80%;
	background-size: contain!important;
	position: absolute;
	bottom: 0;
	left: 0;
}

.number_cell {
	display:inline;
	position:absolute;
	bottom: 2px; right: 3px;
	color: #F44336;
	font-family: Impact, Arial, Tahoma;
	text-align: right;
}

#player_fant { text-align:center; font-size:1.4em; padding:0 15px; text-shadow:0px 1px 1px rgba(1,1,1,0.1);}



@-webkit-keyframes spaceboots {
	0%   { -webkit-transform: translate(2px, 1px)   rotate(0deg); }
	10%  { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20%  { -webkit-transform: translate(-3px, 0px)  rotate(1deg); }
	30%  { -webkit-transform: translate(0px, 2px)   rotate(0deg); }
	40%  { -webkit-transform: translate(1px, -1px)  rotate(1deg); }
	50%  { -webkit-transform: translate(-1px, 1px)  rotate(-1deg); }
	60%  { -webkit-transform: translate(-3px, -2px)  rotate(0deg); }
	70%  { -webkit-transform: translate(2px, 1px)   rotate(-1deg); }
	80%  { -webkit-transform: translate(-1px, -2px) rotate(1deg); }
	90%  { -webkit-transform: translate(2px, -1px)   rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px)  rotate(-1deg); }
}
.done_btn {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	-webkit-user-select: none;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #2196F3;
	text-align: center;
	letter-spacing: 0.8px;
	margin-bottom: 15px;
	padding: 0.5em 2rem;
	border-radius: 2px;
	background-clip: padding-box;
	text-transform: uppercase;
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	display:inline-block;
	position:relative;
}

.done_btn:hover, .done_btn:focus {
/*
	-webkit-animation-name: 'spaceboots';
	-webkit-animation-duration: 0.3s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
*/
}

.fishka {

	display:block;
	float:left;
	width:20px;
	height:20px;
	border-radius:16px;
	margin:2px;
	box-shadow:1px 1px 1px #9d9d9d;

}




